doctype html
html
  head
    link(rel='stylesheet' href='/style.css')
    title= title
  body
    header
      nav
        a(href='/') Home
        a(href='/aboutus') About Us
        a(href='/contactus') Contact Us
    main
      block content
    footer
      p © 2026 Express Stock App